<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>241669161976-5rh6lfgbglh7a6o41m3rh4i2ikvkhtjr.apps.googleusercontent.com</string>
	<key>New item - 2</key>
	<string>com.googleusercontent.apps.241669161976-5rh6lfgbglh7a6o41m3rh4i2ikvkhtjr</string>
	<key>New item - 3</key>
	<string>1</string>
	<key>New item - 4</key>
	<string>imastudio.co.id.LoginGoogle</string>
</dict>
</plist>
